*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html{
        font-size: 62.5%;
    }
    .container{
        background-color: white;
    }
    .container__row{
height: 50px;
width: 100px;
    }
    .siu{
        background-image:url(./img/fondo1.jpg);
    }
.navbar{
    background-image:url(./img/fondo1.jpg);
}
.container__img11{
    height: 10px;
width: 10px;
}
.container__row{
    background-image: url(./img/fondo3.png);
}
.habi{
    background-image: url(./img/fondo3.png);
}
.container{
background-image: url(./img/fonfdo4.jpg);
}