*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html{
        font-size: 62.5%;
    }
    .container{
        background-color: white;
    }
    .container__row{
height: 50px;
width: 100px;
    }
    .siu{
        background-image:url(fondo2.jpg);
    }
.navbar{
    background-image:url(fondo2.jpg);
}
.nose{
    background-color: url(fondo2.jpg);
}